@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.body {
  color: red;
}
.display {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.container {
  width: 645px;
  border-radius: 25px;
  margin: 100px 250px;
  align-self: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.139);
}

.part1 {
  padding-left: 20px;
}

.part1 h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
}

.part2 {
  color: #fff;
  background-image: url("../Images/bg2.jpg");
  /* background: linear-gradient(to top left, #ff0f7b13, #f89b2909); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.part2 a:hover,
.form-button:hover {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.16);
  color: rgb(0, 0, 0);
  background-color: #fff;
}

.form-button:hover {
  background: none;
}

.part2 h1 {
  align-self: center;
  margin-top: 60px;
  font-size: 25px;
}

.part2 p {
  font-size: 14px;
}

.part2 a {
  text-decoration: none;
  color: #fff;
  background: none;
  border: 0.5px solid #fff;
  width: 80px;
  text-align: center;
  border-radius: 15px;
  padding: 6px;
  align-self: center;
  margin-top: 10px;
}

.form {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
  margin: 10px auto;
  gap: 10px;
}

label {
  font-size: 10px;
  letter-spacing: 1px;
  color: #0000008a;
}

.input {
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  border: none;
}

.input {
  background-color: #cfcfcf;
  border-radius: 5px;
  padding: 7px;
  font-size: 14px;
  border: 0;
  resize: none;
}

.box {
  position: relative;
  align-self: center;
  margin: 0;
}

.box input,
.box textarea {
  width: 250px;
  padding: 10px;
  padding-top: 20px;
  border: none;
  background-color: #f8f9fa;
  font-size: 12px;
  transition: border-color 0.3s;
}
.box input:focus,
.box textarea:focus {
  outline: none;
  border: none;
}

.box label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
  pointer-events: none;
}

.box input:focus + label,
.box input:valid + label,
.box textarea:focus + label,
.box textarea:valid + label {
  padding-top: 12px;
  top: 5px;
  font-size: 6px;
  color: #cccccc;
}

.form-button {
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 7px 20px;
  border-radius: 25px;
  margin-top: 20px;
  border: none;
  background: linear-gradient(to top left, #ff0f7b, #f89b29);
  align-self: center;
  color: #fff;
  cursor: pointer;
}

/* ALERT MESSAGES */

.alert-msgs {
  display: flex;
  position: absolute;
  right: -50%;
  height: 50px;
  background-color: rgb(241, 234, 138);
  border-left: 5px solid rgb(255, 251, 29);
  align-items: center;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  transition: all 0.4s;
}

.info {
  font-size: 1.3rem;
  padding: 10px;
}

.close-info {
  font-size: 1.3rem;
  padding: 10px;
  padding-right: 15px;
  cursor: pointer;
}
