* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.red {
  color: orangered;
}

.div {
  top: 20%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.112);
  border-radius: 25px;
  width: 630px;
}

.flex {
  display: flex;
  gap: 20px;
}
.div h1 {
  margin-bottom: 20px;
  border-bottom: 0.5px solid black;
  display: inline-block;
}

.div select {
  background-color: rgb(248, 247, 247);
  padding: 7px 10px;
  border: none;
  font-size: 12px;
  border-radius: 8px;
}

.div button {
  text-decoration: none;
  color: white;
  background: linear-gradient(to top left, #ff0f7b, #f89b29);
  padding: 5px 20px;
  border-radius: 25px;
  border: none;
}

.div button:hover,
a:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.087);
  font-weight: 500;
  background: none;
  cursor: pointer;
}

.object-card {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 100%;
  align-items: center;
}

p {
  font-size: 12px;
}

.card p {
  margin-top: 30px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}

/* ALERT MESSAGES */

.alert-msgs {
  top: 3%;
  display: flex;
  position: absolute;
  right: -50%;
  height: 50px;
  background-color: rgb(252, 162, 150);
  border-left: 5px solid red;
  align-items: center;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  transition: all 0.4s;
}

.info {
  font-size: 1.3rem;
  padding: 10px;
}

.close-info {
  font-size: 1.3rem;
  padding: 10px;
  padding-right: 15px;
  cursor: pointer;
}
